@model TransmogDB.Models.DetailViewModel


<h2>@Model.Appearance.Name<small> of @Model.Appearance.Realm</small></h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Slot</th>
                                <th>Transmogrified</th>
                                <th>Item Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr class="@(item.Transmogrified == true ? "active" : "" )">
                                    <td>@item.Slot</td>
                                    <td>@item.Transmogrified</td>
                                    <td><a href="//wowhead.com/item=@item.ItemID">@item.Name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Appearance</h4>
                    <h6 class="card-subtitle text-muted">@Model.Items.Where(i=>i.Transmogrified  == true).Count() transmogrified item(s)</h6>
                </div>
                <img src="@Model.Appearance.Image" class="img-fluid" />
                <div class="card-footer text-xs-center">
                    <a href="http://us.battle.net/wow/en/character/@Model.Appearance.Realm/@Model.Appearance.Name/simple" class="btn btn-primary">View Armory</a>
                </div>
            </div>
        </div>
    </div>

    @{  
        
    }

    <div class="row">
        <div class="col-md-12">Updated @myHelper.GetTimeAgo(Model.Appearance.Updated)</div>
    </div>
</div>