@model TransmogDB.Models.HomeViewModel

<div class="jumbotron">
    <h1>Transmog Database</h1>
    <p class="lead"> Transmogrification apperances randomly collected from Level 100 characters across all realms.</p>
    <p class="text-muted">@ViewBag.totalAppearances total transmogrifications captured.</p>
    <p><a href="#" class="btn btn-primary btn-lg">How it works &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Popular Items</h2>
        <p>
            Most frequently transmogrified items across all characters and realms.
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>Rank</th>
                        <th>Item</th>
                        <th>Popularity</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1; }
                    @foreach (var item in Model.PopularItems)
                    {
                        <tr>
                            <td>@count</td>
                            <td><a href="//wowhead.com/item=@item.ItemID">@item.Name</a></td>
                            @{ float percentage = (float)Math.Round((double)(100 * item.ItemCount) / ViewBag.totalAppearances,2); }
                            <td>Used <a href="#">@item.ItemCount times</a> <small class="text-muted">(@percentage% of all transmogs)</small></td>
                        </tr>
                            // increment the counter
                            count++;
                        }
                </tbody>
            </table>
        </div>

        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prettiest Realms</h2>
        <p>Highest number of character transmogrifications per realm.</p>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>Rank</th>
                        <th>Realm</th>
                        <th>Popularity</th>
                    </tr>
                </thead>
                <tbody>
                    @{ count = 1; }
                    @foreach (var realm in Model.PopularRealms)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@realm.Realm</td>
                            @{ float percentage = (float)Math.Round((double)(100 * realm.RealmCount) / ViewBag.totalAppearances, 2); }
                            <td><strong>@realm.RealmCount</strong> characters <small class="text-muted">(@percentage% of all transmogs)</small></td>
                        </tr>
                        
                    // increment the counter
                    count++;
                }
                </tbody>
            </table>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>


    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>Fun statistics about information captured.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>


    <div class="row">
        <h3></h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Random Transmogs</h2>
                    @foreach (var appearance in Model.Appearance)
                    {
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img class="img-fluid" src="@appearance.Image" />
                                <div class="caption">
                                    <h4>@appearance.Name <small class="text-muted">of @appearance.Realm</small></h4>
                                    
                                    <p><a href="/Transmog/Appearance/@appearance.ID" class="btn btn-primary" role="button">Details</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>


